body{
    font-family: 'Epilogue', sans-serif;
    margin: 0;
}
.content {
    display: flex;
    padding: 50px 120px;

}
.textCol{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 50px;
    padding-right: 80px;
    position: relative;
    justify-content: space-between;
}
.imgCol  {
    display: block;
    width: 50%;
    padding-left: 50px;
}
.heroDesktopImg{
    display: block;
    object-fit: cover;
    width: 100%;
}
.heroMobileImg {
    display: none;
}
.titleContainer{
    display: flex;
    flex-direction: column;
    color: hsl(0, 0%, 8%);
    font-weight: 700;
    padding: 45px 0;
 }
 .title1, .title2 {
    margin: 0;
    font-size: 75px;
    font-weight: 700;
 }
 .titleMobile {
    display: none;
 }
.description {
    color: hsl(0, 0%, 41%);
    line-height: 26px;
    font-size: 18px;
    margin-top: 0;
}
.learnBtn{
    margin: 30px 0;
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    height: 45px;
    width: fit-content;
    padding: 0 25px;
    border: 1px solid  hsl(0, 0%, 8%); ;
    border-radius: 15px;
}
.learnBtn:hover {
    cursor: pointer;
    background-color: hsl(0, 0%, 98%);
    color:  hsl(0, 0%, 8%);
    transition: ease-in-out 0.3s;

}
.clients{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  

}
.clientLogo{
    flex-direction: column;
    margin: 10px;
    width: auto;
    height: auto;
}
@media (max-width: 1360px) {
    .content {
        display: flex;
        padding: 50px 100px;
    
    }
    .textCol {
        padding: 30px 20px 0 0;
    }
    .titleContainer {
        padding: 40px 0;
    }
    .title1, .title2 {
        font-size: 60px;
        font-weight: 700;
    }
    .learnBtn{
        margin: 30px 0;
        background-color: hsl(0, 0%, 8%);
        color: hsl(0, 0%, 98%);
        font-family: 'Epilogue', sans-serif;
        font-weight: 500;
        height: 45px;
        width: fit-content;
        padding: 0 25px;
        border: 1px solid  hsl(0, 0%, 8%); ;
        border-radius: 15px;
    }
    .learnBtn:hover {
        cursor: pointer;
        background-color: hsl(0, 0%, 98%);
        color:  hsl(0, 0%, 8%);
        transition: ease-in-out 0.3s;
    
    }
    
}
@media (max-width: 1080px) {
    .content {
        display: flex;
        padding: 50px 100px;
    
    }
    .textCol {
        padding: 30px 40px 0 0;
    }
    .titleContainer {
        padding: 30px 0;
    }
    .title1, .title2 {
        font-size: 48px;
        font-weight: 700;
    }
    .learnBtn{
        margin:15px 0;
    }
    .description{
        font-size: 16px;
    }
    
}
@media (max-width: 960px){
    .content {
        display: flex;
        padding: 50px 60px;
    
    }
    .textCol {
        padding: 10px 20px 0 0;
    }
    .titleContainer {
        padding: 20px 0;
    }
    .title1, .title2 {
        font-size: 24px;
        font-weight: 700;
    }
    .learnBtn{
        margin: 7px 0;
    }
    .description{
        font-size: 13px;
    }
    .learnBtn{
       font-size: 13px;
    }
}

@media (max-width: 760px){
    .content {
        display: flex;
        padding: 50px 30px;
    
    }
    .imgCol {
        padding-left: 0;
     }
    .textCol{
        padding: 10px 20px 0 0;
    }
    .titleContainer {
        padding: 10px 0;
    }
    .title1, .title2 {
        font-size: 20px;
        font-weight: 700;
    }
    .learnBtn{
        margin: 7px 0;
    }
    .description{
        font-size: 13px;
        line-height: 18px;
    }
    .learnBtn{
       font-size: 11px;
       font-family: 'Epilogue', sans-serif;
       font-weight: 500;
       height: 35px;
       width: fit-content;
       padding: 0 20px;
       border: 1px solid  hsl(0, 0%, 8%); ;
       border-radius: 10px;
    }

}

@media (max-width: 600px){
    .content {
        display: flex;
        flex-direction: column-reverse;
        padding: 50px 0;
    
    }
    .imgCol {
        padding-left: 0;
        width: 100%;
     }
    .textCol{
      
        width: auto;
        padding: 15px;
        text-align: center;
       
    }
    .heroDesktopImg{
        display: none;
    }
    .heroMobileImg {
        display: block;
        object-fit: cover;
        width: 100%;
    }
    .infoSection{
        width: 100%;
    }
    .titleContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 20px 0;
    }

    .title1, .title2 {
        display: none;
     }
     .titleMobile {
        display: block;
        margin: 0;
        font-size: 32px;
        font-weight: 700;
     }
    .learnBtn{
        margin: 7px 0;
    }
    .description{
        width: auto;
        padding: 0 25px;
        font-size: 15px;
        line-height: 20px;
    }
    .clientLogo{ 
        width: 40%;
    }
    .learnBtn{
        margin: 15px auto 50px auto;
        background-color: hsl(0, 0%, 8%);
        color: hsl(0, 0%, 98%);
        font-size: 15px;
        font-family: 'Epilogue', sans-serif;
        font-weight: 500;
        height: 45px;
        width: fit-content;
        padding: 0 25px;
        border: 1px solid  hsl(0, 0%, 8%); ;
        border-radius: 15px;
    }

}