body{
    font-family: 'Epilogue', sans-serif;
    margin: 0;
    background-color: hsl(0, 0%, 98%); ;
}

nav {
    padding: 30px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
    width: auto;
}
.left-items-nav {
    display: flex;
    height: 60px;
    align-items: center;
    width: 70%;
}
.nav-links {

    width: 35%;
    margin: 0 0 10px 0;
    justify-content: space-between;

}
li.company-tab, li.features-tab{
    position: relative;
}
.company-tab::before, .features-tab::before {
    content: '';
    position: absolute;
    top: 9px;
    right: 19px;
    width: 5px;
    height:2px;
    background-color: hsl(0, 0%, 41%);
    transform: rotate(40deg);
}
.company-tab.active::before, .features-tab.active::before {
    content: '';
    position: absolute;
    top: 9px;
    right: 16px;
    width: 5px;
    height:2px;
    background-color: hsl(0, 0%, 41%);
    transform: rotate(40deg);
}
.company-tab.active::after, .features-tab.active::after {
    content: '';
    position: absolute;
    top: 9px;
    right: 19px;
    width: 5px;
    height:2px;
    background-color: hsl(0, 0%, 41%);
    transform: rotate(-40deg);
}
.company-tab::after, .features-tab::after {
    content: '';
    position: absolute;
    top: 9px;
    right: 16px;
    width: 5px;
    height:2px;
    background-color: hsl(0, 0%, 41%);
    transform: rotate(-40deg);
}
.options-features{
    display: none;
}
.options-features.active {
    display: block;
    position: absolute;
    top: 30px;
    right: 15px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 2;
}
.options-company{
    display: none;
}
.options-company.active {
    display: block;
    position: absolute;
    top: 30px;
    right: 15px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 2;
}
.option{
    display: flex;
    padding: 10px 5px;
    font-size:13px;
    align-items: center;
}
.feature-icon {
    font-size: 18px;
    margin-right:13px;
}
.navbar-tabs-container{
    display: flex;
    
    justify-content: space-between;
}
.nav-links li{
    list-style: none;
    align-items: start;

    padding-right: 30px;
}

.nav-links a {
    color: hsl(0, 0%, 41%);
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;
}
.nav-links .mobile-btns {
    display: none;
}
.nav-links a:hover {
    cursor: pointer;
    color: hsl(0, 0%, 8%);
}
.right-items-nav {
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 10px;

}
.login-btn{
    border: none;
    font-family: 'Epilogue', sans-serif;
    background-color: white;
    color: hsl(0, 0%, 41%);
    text-transform: capitalize;
    font-weight: 500;
    font-size: 13px;
}

.register-btn{
    height: 40px;
    padding: 0 20px;
    border-radius: 13px;
    border: 1px solid hsl(0, 0%, 41%);;
    font-family: 'Epilogue', sans-serif;
    background-color: white;
    color: hsl(0, 0%, 41%);
    text-transform: capitalize;
    font-weight: 500;
    font-size: 13px;
}
.login-btn:hover, .register-btn:hover{
    cursor: pointer;
    color:hsl(0, 0%, 8%)
}
.register-btn:hover{
    border-color:hsl(0, 0%, 8%);
}

.burger{
    display: none;
  }

.burger div{
    width:25px;
    height:2px;
    background-color:#000;
    margin: 5px;
    transition: all 0.3s ease
    
  }
.content {
    display: flex;
    padding: 50px 120px;

}
.text-col{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 50px;
    padding-right: 80px;
    position: relative;
    justify-content: space-between;
}
.img-col  {
    display: block;
    width: 50%;
    padding-left: 50px;
}
.hero-desktop-img{
    display: block;
    object-fit: cover;
    width: 100%;
}
.hero-mobile-img {
    display: none;
}
.title-container{
    display: flex;
    flex-direction: column;
    color: hsl(0, 0%, 8%);
    font-weight: 700;
    padding: 45px 0;
 }
 .title-1, .title-2 {
    margin: 0;
    font-size: 75px;
    font-weight: 700;
 }
 .title-mobile {
    display: none;
 }
.description {
    color: hsl(0, 0%, 41%);
    line-height: 26px;
    font-size: 18px;
    margin-top: 0;
}
.learn-btn{
    margin: 30px 0;
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    height: 45px;
    width: fit-content;
    padding: 0 25px;
    border: 1px solid  hsl(0, 0%, 8%); ;
    border-radius: 15px;
}
.learn-btn:hover {
    cursor: pointer;
    background-color: hsl(0, 0%, 98%);
    color:  hsl(0, 0%, 8%);
    transition: ease-in-out 0.3s;

}
.clients{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  

}
.client-logo{
    flex-direction: column;
    margin: 10px;
    width: auto;
    height: auto;
}

.navbar-shadow{
    display: none;
}
@media (max-width: 1360px) {
    .content {
        display: flex;
        padding: 50px 100px;
    
    }
    .text-col {
        padding: 30px 20px 0 0;
    }
    .title-container {
        padding: 40px 0;
    }
    .title-1, .title-2 {
        font-size: 60px;
        font-weight: 700;
    }
    .learn-btn{
        margin: 30px 0;
        background-color: hsl(0, 0%, 8%);
        color: hsl(0, 0%, 98%);
        font-family: 'Epilogue', sans-serif;
        font-weight: 500;
        height: 45px;
        width: fit-content;
        padding: 0 25px;
        border: 1px solid  hsl(0, 0%, 8%); ;
        border-radius: 15px;
    }
    .learn-btn:hover {
        cursor: pointer;
        background-color: hsl(0, 0%, 98%);
        color:  hsl(0, 0%, 8%);
        transition: ease-in-out 0.3s;
    
    }
    
}
@media (max-width: 1080px) {
    .content {
        display: flex;
        padding: 50px 100px;
    
    }
    .text-col {
        padding: 30px 40px 0 0;
    }
    .title-container {
        padding: 30px 0;
    }
    .title-1, .title-2 {
        font-size: 48px;
        font-weight: 700;
    }
    .learn-btn{
        margin:15px 0;
    }
    .description{
        font-size: 16px;
    }
    
}
@media (max-width: 960px){
    .content {
        display: flex;
        padding: 50px 60px;
    
    }
    .text-col {
        padding: 10px 20px 0 0;
    }
    .title-container {
        padding: 20px 0;
    }
    .title-1, .title-2 {
        font-size: 24px;
        font-weight: 700;
    }
    .learn-btn{
        margin: 7px 0;
    }
    .description{
        font-size: 13px;
    }
    .learn-btn{
       font-size: 13px;
    }
}

@media (max-width: 760px){
    .content {
        display: flex;
        padding: 50px 30px;
    
    }
    .img-col {
        padding-left: 0;
     }
    .text-col{
        padding: 10px 20px 0 0;
    }
    .title-container {
        padding: 10px 0;
    }
    .title-1, .title-2 {
        font-size: 20px;
        font-weight: 700;
    }
    .learn-btn{
        margin: 7px 0;
    }
    .description{
        font-size: 13px;
        line-height: 18px;
    }
    .learn-btn{
       font-size: 11px;
       font-family: 'Epilogue', sans-serif;
       font-weight: 500;
       height: 35px;
       width: fit-content;
       padding: 0 20px;
       border: 1px solid  hsl(0, 0%, 8%); ;
       border-radius: 10px;
    }

}

@media (max-width: 600px){
    .content {
        display: flex;
        flex-direction: column-reverse;
        padding: 50px 0;
    
    }
    .img-col {
        padding-left: 0;
        width: 100%;
     }
    .text-col{
      
        width: auto;
        padding: 15px;
        text-align: center;
       
    }
    .hero-desktop-img{
        display: none;
    }
    .hero-mobile-img {
        display: block;
        object-fit: cover;
        width: 100%;
    }
    .infoSection{
        width: 100%;
    }
    .title-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 20px 0;
    }

    .title-1, .title-2 {
        display: none;
     }
     .title-mobile {
        display: block;
        margin: 0;
        font-size: 32px;
        font-weight: 700;
     }
    .learn-btn{
        margin: 7px 0;
    }
    .description{
        width: auto;
        padding: 0 25px;
        font-size: 15px;
        line-height: 20px;
    }
    .client-logo{ 
        width: 40%;
    }
    .learn-btn{
        margin: 15px auto 50px auto;
        background-color: hsl(0, 0%, 8%);
        color: hsl(0, 0%, 98%);
        font-size: 15px;
        font-family: 'Epilogue', sans-serif;
        font-weight: 500;
        height: 45px;
        width: fit-content;
        padding: 0 25px;
        border: 1px solid  hsl(0, 0%, 8%); ;
        border-radius: 15px;
    }

    body{
        overflow: hidden;
    }

    nav {
        padding: 10px 15px;

    }
    .left-items-nav {
        height: 40px;
    }
    .logo-img {
        margin-top: 10px;
    }
    .right-items-nav {
        padding-bottom: 0;
    }

    .nav-links{
        position:absolute;
        right:0px;
        top: 0;
        height: 91vh;
        z-index: 3;
        background-color:#fff;
        display:flex;
        flex-direction: column; 
        padding: 8vh 20px 10px 20px;
        align-items: start;
        justify-content: space-between;
        width:58%;
        transform: translateX(98%);
        transition: transform 0.5s ease-in;
    }
    .navbar-tabs-container{
        display: flex;
        flex-direction: column;
    }
    .nav-links li{
        opacity: 0;
        z-index: 4;

        margin-bottom: 25px;
    }
    .mobile-btn-row{
        width: 100%;
        margin: 0 auto 5px auto;
    }
    .nav-links .mobile-btns {
        display: flex ;
        flex-direction: column;
        height: auto;
        
    }
    .mobile-btns .login-btn, .mobile-btns .register-btn{
        z-index: 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 14px;
       
    }
    .mobile-btns .login-btn {
        margin-bottom: 20px;
    }
    .mobile-btns .register-btn {
        width: 100%;
    }
    .nav-links a{
        font-size: 16px !important;
        font-weight: 700;
    }

    .right-items-nav{
        justify-content: end;
    }
    .login-btn,.register-btn {
        display: none;
    }

    .burger{
        display: block;
        cursor: pointer;
        z-index: 4;
    }
    
    .nav-active{
        transform: translateX(0%);
    }
    .navbar-shadow-active {
        display: block;
        position: absolute;
        top: 0;
        z-index: 2;
        height: 100%;
        width: 100%;
        background-color: #000;
        opacity:  0.5;
    }

    @keyframes navLinkFade{
        from{
            opacity:0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }
    
   .burger-active .line1{
        transform: rotate(-45deg) translate(-5px,0);
    }
  
    .burger-active .line2{
        display: none;
        transition: ease-in-out 0.3s;
    }
  
    .burger-active .line3{
        transform: rotate(45deg) translate(-5px,0);
    }
    
 

}